@import '../styles/variables.scss';

.countriesList {
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  width: auto;
  overflow: auto;

  .country {
    order: 1;
    float: left;
    margin: 5px;
    flex-direction: horizontal;
    height: auto;
    overflow: hidden;
    width: 100%;
    max-height: 30px;
    transition: max-height 1s ease-out;

    & > * {
      display: block;
    }

    &.active {
      transition: max-height 1s ease-out;
    }

    & > header {
      padding-left: 10px;
      padding-top: 3px;
      background-color: $blue;
      color: $white;
      width: 100%;
      height: 30px;
      margin-bottom: -2px;

      span {
        font-size: 20px;
        display: inline-block;
        text-align: left;

        &:nth-child(1) {
          margin-right: 15px;
          min-width: 50px;
        }

        &:nth-child(2) {
          text-transform: uppercase;
        }

        &:nth-child(3) {
          float: right;
          position: relative;
          right: 20px;
        }
      }
    }

    & > .citiesList {
      width: 100%;
      
      & > * {
        display: block;
      }

      .city {
        background: $yellow;
        overflow: hidden;
        width: 100%;
        max-height: 28px;
        transition: max-height 1s ease-out;

        &.active {
          transition: max-height 1s ease-out;
        }

        &:first-child {
          margin-top: 0;

          & > header {
            padding-top: 3px;
            border-top: none;
          }
        }

        & > * {
          display: block;
        }

        & > header {
          padding-left: 10px;
          background-color: $green;
          padding-top: 4px;
          width: 100%;
          height: 25px;

          span {
            font-size: 17px;
            display: inline-block;
            text-align: left;

            &:nth-child(1) {
              min-width: 83px;
              margin-left: 10px;
            }

            &:nth-child(2) {
              text-transform: uppercase;
            }
  
            &:nth-child(3) {
              float: right;
              position: relative;
              right: 20px;
            }
          }
        }

        & > .eventsList {
          .eventContainer {
            margin: 12px 0;
            padding-left: 30px;
            padding-bottom: 10px;
            border-bottom: 1px dashed black;

            &:first-child {
              margin-top: 0;
              padding-top: 5px;
            }

            &:last-child {
              margin-bottom: 0;
              border-bottom: none;
            }

            & > div {
              margin: 2px 0;
              padding: 4px 0;
            }

            .name, .date, .url {
              & > span {
                display: inline-block;

                &:nth-child(1) {
                  width: 73px; 
                }

                &:nth-child(2) {
                  text-transform: uppercase;  
                }
              }
            }
          }
        }
      }
    }
  }
}

#mapid {
  height: 100vh;
  width: 100vw;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}