.map {
  position: relative;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1024px;
  text-align: center;
  height: 1000px;

  span {
    position: relative;
  }

  & > div {
    width: 1024px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
  }
}