@import 'variables';

.dropdown {
  color: $white !important;
  
  div {
    padding: 0 !important;

    input {
      padding: 0 !important;
      font-size: 20px;
      border: none !important;
    }

    ul {
      width: auto !important;
      position: relative !important;
      top: 0px;
      margin: 0;
      padding: 0 !important;

      li {
        text-align: left;
        padding: 8px !important;
        padding-left: 5px !important;
      }
    }
  }
}