@import '../variables';

.radio {
  border-width: 1px !important;
}

.radioChecked {
  border-color: $checkedColor !important;
  border-width: 1px !important;

  &::before {
    background-color: $checkedColor !important;
  }
}