label[data-react-toolbox="checkbox"] {
  display: block !important;
  height: 20px;
  margin: 0;

  div {
    width: 15px;
    height: 15px;
    border-width: 1px;
    position: relative;
  }

  span {
    font-size: 15px;
  }
}

*[data-react-toolbox="input"], *[role="input"] {
  padding: 0 !important;
  padding-bottom: 2px !important;
  margin: 0 !important;
  font-size: 15px !important;
}

input {
  font-size: 15px !important;
}

span {
  font-size: 15px !important;
}

