@import '../../styles/variables.scss';

.selectError {
  color: $red;
  font-size: 15px;
  position: relative;
  display: inline-block;
  float: right;
}

.addEventDialog {
  min-height: 650px;
  max-width: 600px;
  padding: 15px;
  overflow: auto;
  padding: 20px 30px;
  min-width: 510px;

  section {
    padding: 0 !important;
    position: relative;

    h6 {
      margin: 0;
      position: absolute;
      width: calc(100% + 60px);
      left: -30px;
      color: $white;
      background: $blue;
      top: -20px;
      padding: 15px 15px 15px 28px;
      box-sizing: border-box;
    }

    section {
      width: 100%;
      margin: 10px 0;
      height: auto;
      overflow: auto;

      div {
        div {
          span:last-child {
            &:before,
            &:after {
              background-color: $blue !important;
            }
          }
        }
      }

      // name section
      &:nth-child(2) {
        margin-top: 70px;
        height: 70px;
        overflow: visible;

        & > span {
          margin-top: 15px;
          margin-bottom: 8px;
          display: block;
        }

        & > div {
          margin: 0;
          padding: 0 !important;
          height: 45px;

          & > input {
            font-size: 15px;
            padding: 0;
            margin: 5px 0;
          }

          & > span {
            font-size: 15px;

            &:nth-child(2) {
              position: relative;
              top: 0px;
            }
            &:nth-child(3) {
              position: absolute;
              top: 19px;
            }
          }
        }
      }

      //continent/country/city section 
      &:nth-child(3) {
        overflow: visible;
        height: 180px;

        & > div {
          width: 50%;
          display: inline-block;
          float: left;
          margin: 10px 0 0 0;
          height: 75px;
          
          &:nth-child(odd) {
            margin-right: 10px;
          }
          &:nth-child(even) {
            width: calc(50% - 10px);
          }

          & > span {
            margin-bottom: 7px;
            display: block;
          }

          &:nth-child(4) {
            & > label {
              margin-bottom: 20px;
              display: block;
            }
          }
        }
      }

      //bicycles types
      &:nth-child(4) {
        min-height: 130px;
        overflow: visible;
        position: relative;

        & > span {
          margin-bottom: 10px;
          width: 100%;
          text-align: left;
          display: block;
          height: 20px;
        }

        & > label {
          width: 19%;
          margin: 5px 0px 0px 5px;
          display: inline-block;
          float: left;

          & > span {
            padding: 0;
            margin-left: 8px !important;
            line-height: 17px !important;
          }

          &:last-of-type {
            top: 15px;
          }

          &:nth-child(2),
          &:nth-child(7),
          &:nth-child(12) {
            margin-left: 0;
          }
        }

        & > div:last-child {
          height: 30px;
          display: block;
          position: absolute;
          width: 300px;
          top: 99px;
          left: 125px;
          overflow: visible;

          & > span:nth-child(3) {
            position: relative;
            top: -25px;
          }

          & > span[class^='theme__error'] {
            position: absolute;
            left: 0px;
            top: 17px;
          }

          & > span[class^='theme__counter'] {
            position: absolute;
            top: 19px;
          }
        }
      }

      //race format
      &:nth-child(5) {
        margin-top: 20px;

        & > span {
          margin-bottom: 15px;
          display: block;
          margin-top: 2px;
        }

        & > div:nth-child(2) {
          height: 80px;
          display: block;
          width: 100%;

          & > span {
            margin-bottom: 20px;
            width: 100%;
            text-align: left;
            display: block;
            height: 20px;
          }

          & > label {
            width: 19%;
            margin: 2px 0px 0px 5px;
            display: inline-block;
            float: left;
            height: 24px;

            & > div {
              width: 17px;
              height: 17px;
            }

            & > span {
              padding: 0;
              margin-left: 8px !important;
              line-height: 17px !important;
            }

            &:last-child {
              display: block;
              width: 100%;
              float: left;
              margin-top: 15px
            }

            &:nth-child(1),
            &:nth-child(6),
            &:nth-child(10) {
              margin-left: 0;
            }
          }
        }

        & > div:last-child {
          height: 30px;
          display: block;
          position: relative;
          width: 300px;
          top: -25px;
          left: 123px;

          & > span:nth-child(3) {
            position: relative;
            top: -25px;
          }

          & > span:nth-child(4) {
            position: absolute;
            top: 30px;
          }

          & > span[class^='theme__error'] {
            position: absolute;
            left: 0px;
            top: 28px;
          }

          & > span[class^='theme__counter'] {
            position: absolute;
            top: 28px;
          }
        }
      }

      
      &:nth-child(6) {
        margin-top: 30px;
        overflow: auto;

        & > div {
          width: 47%;
          margin-bottom: 20px;
          display: inline-block;
          float: left;

          &:nth-child(1) {
            margin-right: 5%;
          }

          &:nth-child(3) {
            width: 100%;  
            margin-right: 0%;
            margin-bottom: 30px;
          }

          & > span {
            margin-bottom: 8px;
            display: block;
          }

          &:nth-child(4) {
            width: 100%;
            margin-bottom: 20px;
            display: block;
            float: left;

            & > div {
              width: 47%;
              display: inline-block;
              float: left;

              & > span {
                display: block;
                margin-bottom: 8px;
              }

              &:nth-child(1) {
                margin-right: 5%;
              }
            }
          }
        }
      }
    }
  }

  nav {
    button {
      width: auto;
      display: inline-block;
      float: right;
      border: 1px solid black;
      height: 30px;

      &:nth-child(2) {
        background: $green;
        color: $white !important;
        border-color: $green;

        &:hover {
          background: darken($green, 10) !important;
          color: $white !important;
          border-color: $green !important;
        }
      }

      &:nth-child(1) {
        background: $grey;
        color: $white !important;
        border-color: $grey;

        &:hover {
          background: darken($grey, 10) !important;
          color: $white !important;
          border-color: $grey;
        }
      }

      span {
        font-size: 17px;
        line-height: 30px !important;
      }
    }
  }
}

.datepicker {
  section {
    header {
      height: 50px;
      padding-top: 0;
      padding-bottom: 0;

      & > * {
        display: inline-block;
        float: left;
      }

      & > span:nth-child(1) {
        margin-top: 12px;
        margin-right: 20px;
      }
    }
  }

  nav {
    button {
      width: auto;
      display: inline-block;
      float: right;
      border: 1px solid black;
      height: 30px;

      span {
        font-size: 17px;
        line-height: 30px !important;
      }
    }
  }
}