.map-img {
  position:relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
  width: 100vw;

  g {
    .digit {
      color: red;
    }
  }
}

.map-selected {
}

.map-unselected {
}

.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
  fill: #E3DA37;
}