@import '../../styles/variables';

.appBar {
  height: 60px !important;
  padding-left: 1.9rem;
  background: $blue;

  .interfaceTypeChooser {
    display: inline-block;
    height: 100%;
  }

  nav {
    left: 0;
    float: left;
    padding-left: 0;
    padding-top: 0.2rem;

    a {
      color: $white !important;
      opacity: 1 !important;
      text-decoration: none !important;
      font-size: 25px;

      span {
        color: $white !important;        
      }
    }

    button {
      width: auto;

      span {
        color: white;
        font-size: 20px;
        margin-top: 3px;
      }
    }
  }
}