@import '../../styles/variables';

.breadcrumbsContainer {
  height: 30px;
  width: 100vw;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 5px;
  padding-top: 15px;
  color: $black;

  & > span {
    margin-right: 5px;
  }

  & > a {
    width: auto !important;
    display: inline-block !important;
    position: relative;
    top: -2px;
  }
}